*.xcuserstate
*.ipynb
*.DS_Store
.env
app/face-book.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

app/face-book.xcodeproj/project.pbxproj
Reckognition/.env
Reckognition/.idea
app/face-book.xcodeproj/xcuserdata/fraser.xcuserdatad/xcdebugger/
